<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPK</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script>

    </script>
</head>

<body class="snow-bg">
    <div class="container-fluid">
        <div class="row border">
            <div class="col-12">
                <div class="row" style="background-color: white">
                    <div class="col-3">
                        <a href="home.html" style="text-decoration: none;">
                            <img src="../img/logo2.png" alt="" style="width: 90px; height:80px; float: left;">
                            <h1
                                style="font-family:'Oleo Script', Helvetica, sans-serif ;color:tomato; padding-top: 15px;">
                                Linh kiện DDH </h1>

                        </a>
                    </div>
                    <div class="col-5 pt-3">
                        <nav class="navbar navbar-expand navbar-light " style="float: left">
                            <ul class="navbar-nav ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="home.html">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../html/gioithieu.html">Giới thiệu</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Sản phẩm</a>
                                    <div class="dropdown-content ">                      
                                        <a href="list_Linhkien.html" class="dropdown-item border">Linh kiện điện tử</a>
                                        <a href="list_Dungcu.html" class="dropdown-item border">Dụng cụ hỗ trợ kĩ thuật</a>
                                        <a href="" class="dropdown-item border">Khác</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="login.html">Tài khoản</a>
                                    <div class="dropdown-content ">
                                        <a href="login.html" class="dropdown-item border">Đăng nhập</a>
                                        <a href="register.html" class="dropdown-item border">Đăng kí</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../html/giohang.html"> Giỏ hàng
                                        <img src="../img/giohang.png" alt="logo" style="width:30px;">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-4 ">

                        <form class="form-inline pt-4">
                            <div class="row">
                                <div class="col-6">
                                    <input class="form-control" type="text" placeholder="Bạn muốn tìm gì ?">
                                </div>
                                <input type="button" class="col-3 btn btn-success" value="Tìm kiếm">
                                <div class="col-2 " >
                                    <a href="adminXM.html"><img src="../img/account.png" alt="" style="width:40px;"></a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center ">
                <div class="col-8 p-5 ">
                    <marquee behavior="" direction="" scrollamount="30" hspace="20%">
                        <h5 class="display-4 font-weight-normal font-weight-bold"
                            style="text-shadow: 5px 5px 5px tomato ; font-family:cursive ;color:tomato;">Chào mừng bạn
                            đến
                            với ban quản trị của cửa hàng linh kiện DDH !</h5>
                    </marquee>

                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-2 border">
                <h5>Xin chào:</h5>
                <h3>Hào Nguyễn</h3>
                <nav class="navbar bg-dark ">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="width: 200px; text-indent: 10px;">
                            <a class="nav-link text-light" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item" style="width: 200px; text-indent: 10px;">
                            <a class="nav-link text-light" href="adminXM.html">Linh kiện điện tử</a>
                        </li>
                        <li class="nav-item" style="width: 200px; text-indent: 10px;">
                            <a class="nav-link text-light" href="adminPK.html">Dụng cụ hỗ trợ kĩ thuật</a>
                        </li>
                        <li class="nav-item" style="width: 200px; text-indent: 10px;">
                            <a class="nav-link text-light" href="#">Hóa đơn</a>
                        </li>
                        <li class="nav-item" style="width: 200px; text-indent: 10px;">
                            <a class="nav-link text-light" href="#">Danh mục</a>
                        </li>

                    </ul>
                </nav>

            </div>
            <div class="col-10 border">
                <h2>Quản lí Dụng cụ hỗ trợ kĩ thuật</h2>

                <input type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    value="Thêm sản phẩm" data-backdrop="static" data-keyboard="false">

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width:600px">
                            <div class="col-12">
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm sản phẩm</h4>
                                    <input type="button" class="close btn" data-dismiss="modal" value="X">
                                </div>

                                <div class="modal-body">
                                    <form action="">  
                                        <div class="row form-group m-3">
                                            <label for="" class="col-3 control-label">ID</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="row form-group m-3">
                                            <label for="" class="col-3">Loại</label>
                                            <div class="col-9">
                                                <select class="form-select">
                                                    <option value="">Dụng cụ cầm tay</option>
                                                    <option value="">Tản nhiệt/Cách điện</option>
                                                    <option value="">Hộp các loại</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row form-group m-3">
                                            <label for="" class="col-3">Tên sản phẩm</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row form-group m-3">
                                            <label for="" class="col-3">Giá (VNĐ)</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="row form-group m-3">
                                            <label for="" class="col-3">Hình ảnh</label>
                                            <div class="col-9">
                                                <input type="file" class="form-control"  multiple accept="image/*">
                                            </div>
                                            
                                        </div>
                                        <div class="row form-group m-3">
                                            <label for="" class="col-3">Mô tả</label>
                                            <div class="col-9">
                                                <textarea class="form-control" rows="6"></textarea>
                                            </div>                                           
                                        </div>

                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal"
                                        onclick="">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered mt-3">
                    <tr>
                        <th width="4%">ID</th>
                        <th>Loại</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Hình ảnh</th>
                        <th width="30%">Mô tả</th>
                        <th width="11%">Cập nhật</th>

                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Linh kiện cơ bản</td>
                        <td>Gói 100 Con Trở Vạch 1/2W 5%</td>
                        <td>19.990₫</td>
                        <td>15</td>
                        <td><img src="../img/vachtro.png" alt="" width="300px" height="200"></td>
                        <td>Con Trở Vạch 1/2W được sản xuất theo công nghệ Metal film với sai số chỉ
                            1%. Điện trở có màng kim loại phù hợp với các mạch điện tử có độ chính xác, hoạt động ổn
                            định, bền với thời gian. Trên thân con trở 1/2 W có 4 vạch màu thể hiện giá trị của điện trở
                            theo quy chuẩn chung giúp người sử dụng có thể chọn lựa và sử dụng dễ dàng</td>
                        <td>
                            <input type="button" id="sua" class="btn btn-primary" value="Sửa">
                            <input type="button" id="sua" class="btn btn-danger" value="Xóa">
                        </td>

                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Linh kiện thụ động</td>
                        <td>Nút Nhấn Khởi Động LC-3 10A</td>
                        <td>24.000₫</td>
                        <td>5</td>
                        <td><img src="../img/congtac.png" alt="" width="300px" height="200"></td>
                        <td>
                            Nút Khởi Động LC-3 10A là thiết bị công tắc được ứng dụng rộng rãi trong
                            công nghiệp. Với 2 chức năng chính: Bật-tắt. Nút khởi động LC-3 được dùng khởi động động cơ
                            ba pha: Máy cắt, máy mài, động cơ bơm nước,các loại máy điều khiển bằng tay,...
                        </td>
                        <td width="11%">
                            <input type="button" id="sua" class="btn btn-primary" value="Sửa">
                            <input type="button" id="sua" class="btn btn-danger" value="Xóa">
                        </td>

                    </tr>

                </table>

            </div>




        </div>





    </div>
</body>

</html>